.header-lists {
  display: flex;
  padding: 15px 10px;
  justify-content: end;
  border-bottom: 1px solid #ddd;
  li {
    margin-left: 10px;
    &:hover {
      color: #777;
      transition: all 0.5s;
    }
    a {
      color: #000;
      &:hover {
        color: #777;
        transition: all 0.5s;
      }
    }
  }
}
