main {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
}

.total {
  margin-bottom: 20px;
}
.productsContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product {
  max-width: 249px;
  color: #333;
  margin-bottom: 65px;
}
.productImg {
  width: 100%;
  border-radius: 5px;
}
.cart {
  padding: 10px;
  margin: 5px 0 8px 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  text-align: center;
  color: #333;
}

.productTitle {
  margin-bottom: 8px;
  font-size: 18px;
}

.productPrice {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.productTotalComments {
  font-size: 13px;
  color: #aaa;
}
